#carouselExampleIndicators {
    height: 420px;
    width: 700px;
    margin: auto;
    overflow:hidden;
}

.carousel-inner img {
    margin: auto;
}

#bodyAccueil {
    background-image: url("../images/backgroundHome.jpg");
    height: 100%;
}

#bodyHistory {
    background-image: url("../images/backgroundHistory.jpg");
    height: 100%;
    margin-bottom: 20px;
}

#bodyStand {
    background-image: url("../images/backgroundStand.jpg");
    background-repeat: repeat;
}

#bodyContact {
    background-image: url("../images/img1.png");
    height: 100%;
}

ul {
    margin: auto;
}

li {
    padding-right: 80px;
    font-weight: bold;
}

h3 {
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.intro {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-right: 120px;
    font-weight: bold;
}

#main {
    margin-top: 20px;
}

h1 {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 60px;
}

p {
    margin-top: 20px;
    font-family: 'Livvic', sans-serif;
}

h4 {
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    margin-top: 20px;
    font-size: 300%;
}

h2 {
    font-family: 'Romanesco', cursive;
    text-decoration: underline;
    font-size: 50px;
}

.portrait {
    text-align: center;
}

.carousel {
    margin-bottom: 10px;
}

.test {
    font-family: 'Calligraffitti', cursive;
}

img {
    border-color: black;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

h5 {
    font-family: 'Courgette', cursive;
}
